<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573832151576-adf65k53vvv7ndaihbes4vm7uv2dgpp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573832151576-adf65k53vvv7ndaihbes4vm7uv2dgpp0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>573832151576-be2tp1ksd5k71kmlp8m31ohp16o7sqs0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAa2X8lC1JvN8TYN-zLXTbB1tsiUEYTzw</string>
	<key>GCM_SENDER_ID</key>
	<string>573832151576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lu.konnections</string>
	<key>PROJECT_ID</key>
	<string>konnections-f4a02</string>
	<key>STORAGE_BUCKET</key>
	<string>konnections-f4a02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:573832151576:ios:2fe5cb13113aeeab8a796d</string>
	<key>DATABASE_URL</key>
	<string>https://konnections-f4a02.firebaseio.com</string>
</dict>
</plist>
